<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>人力资源管理系统</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="/static/style/bootstrap.css" th:href="@{/style/bootstrap.css}" rel="stylesheet">
    <link href="/static/style/font-awesome.css" th:href="@{/style/font-awesome.css}" rel="stylesheet">
    <link href="/static/style/weather-icons.css" th:href="@{/style/weather-icons.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--Beyond styles-->
    <link id="beyond-link" href="/static/style/beyond.css" th:href="@{/style/beyondt.css}" rel="stylesheet" type="text/css">
    <link href="/static/style/demo.css" th:href="@{/style/demo.css}" rel="stylesheet">
    <link href="/static/style/typicons.css" th:href="@{/style/typicons.css}" rel="stylesheet">
    <link href="/static/style/animate.css" th:href="@{/style/animate.css}" rel="stylesheet">

    <script type="text/javascript" th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        function changejob() {
            var de=document.getElementById("department");
            var index1=de.selectedIndex;
            var index=de.options[index1].value;
            var optionJson=[];
            $.ajax({
                url: basePath + '/selectJob',
                type: "post",
                data: {"index":index},
                datatype: "json",
                success:function(data){
                    //alert(data.length);
                    optionJson = data;
                    var a=data.length;
                    var selectObj=document.getElementById("job");
                    selectObj.options.length=0;
                    selectObj.options.add(new Option("--请选择职位--",0));
                    for(var i=0;i<data.length;i++){
                        selectObj.options.add(new Option(optionJson[i].job_name,optionJson[i].job_name));
                    }
                }

            })
        }

        function check1() {
            var name=document.getElementById("name");
            var name1=document.getElementById("name1");

            var age=document.getElementById("age");
            var age1=document.getElementById("age1");

            var sex=document.getElementById("sex");
            var index1=sex.selectedIndex;
            var help1=document.getElementById("help1");

            var education=document.getElementById("education");
            var index2=education.selectedIndex;
            var help2=document.getElementById("help2");

            var department=document.getElementById("department");
            var index3=department.selectedIndex;
            var job=document.getElementById("job");
            var index4=job.selectedIndex;
            var help3=document.getElementById("help3");

            var regphone=/^[1][3,4,5,7,8][0-9]{9}$/;
            var phone=document.getElementById("phone");
            var phone1=document.getElementById("phone1");

            var address=document.getElementById("address");
            var address1=document.getElementById("address1");

            if(/^[0-9]*$/.test(name.value)){
                name1.style.display='';
                age1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                help3.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                return false;
            }else if(!/^[0-9]*$/.test(age.value)){
                age1.style.display='';
                name1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                help3.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                return false;
            }else if(sex.options[index1].value==2){
                name1.style.display='none';
                age1.style.display='none';
                help2.style.display='none';
                help3.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                help1.style.display='';
                return  false;
            }else if(education.options[index2].value==0){
                name1.style.display='none';
                age1.style.display='none';
                help1.style.display='none';
                help3.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                help2.style.display='';
                return  false;
            }else if(department.options[index3].value==0){
                name1.style.display='none';
                age1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                help3.style.display='';
                return  false;
            }else if(job.options[index4].value==0){
                name1.style.display='none';
                age1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                phone1.style.display='none';
                address1.style.display='none';
                help3.style.display='';
                return  false;
            }else if(!regphone.test(phone.value)){
                name1.style.display='none';
                age1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                help3.style.display='none';
                address1.style.display='none';
                phone1.style.display='';
                return false;
            }else if(/^[0-9]*$/.test(address.value)){
                name1.style.display='none';
                age1.style.display='none';
                help1.style.display='none';
                help2.style.display='none';
                help3.style.display='none';
                phone1.style.display='none';
                address1.style.display='';
                return false;
            }

        }


    </script>

</head>
<body>
<!-- 头部 -->
<div th:include="emp/top1 :: copy1"  ></div>

<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        <div th:include="emp/left1 :: cope1"  ></div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/system/list1}">系统</a>
                    </li>
                    <li>
                        <a href="" th:href="@{/emp/list1}">员工列表</a>
                    </li>
                    <li class="active">添加员工</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-header bordered-bottom bordered-blue">
                                <span class="widget-caption">新增员工</span>
                            </div>
                            <div class="widget-body">
                                <div id="horizontal-form">
                                    <form class="form-horizontal" onsubmit="return check1()" role="form" action="" th:action="@{/emp/add1}" method="post">
                                        <div class="form-group">
                                            <label for="name" class="col-sm-2 control-label no-padding-right">员工名</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="name" placeholder="" name="name" required=""   type="text">
                                            </div>
                                            <p style="display: none" id="name1" class="help-block col-sm-4 red">名字格式不正确</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="age" class="col-sm-2 control-label no-padding-right">年龄</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="age" placeholder="" name="age" required=""  type="text">
                                            </div>
                                            <p style="display: none" id="age1" class="help-block col-sm-4 red">请填写数字</p>
                                        </div>

                                        <div class="form-group">
                                            <label  class="col-sm-2 control-label no-padding-right">性别</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="sex" name="sex">
                                                    <option th:value="2" disabled="disabled" selected="selected">--请选择性别--</option>
                                                    <option th:value="0">女</option>
                                                    <option th:value="1">男</option>
                                                </select>
                                            </div>
                                            <p style="display: none" id="help1" class="help-block col-sm-4 red">请选择性别</p>
                                        </div>



                                        <div class="form-group">
                                            <label  class="col-sm-2 control-label no-padding-right">学历</label>
                                            <div class="col-sm-6">
                                                <select class="form-control" id="education" name="education">
                                                    <option th:value="0" disabled="disabled" selected="selected">--请选择学历--</option>
                                                    <option th:value="初中">初中</option>
                                                    <option th:value="高中">高中</option>
                                                    <option th:value="本科">本科</option>
                                                    <option th:value="研究生">研究生</option>
                                                </select>
                                            </div>
                                            <p style="display: none" id="help2" class="help-block col-sm-4 red">请选择学历</p>
                                        </div>

                                        <div class="form-group">
                                            <label  class="col-sm-2 control-label no-padding-right">部门</label>
                                            <div class="col-sm-6"   >
                                                <select style="width: 200px;display: inline-block" class="form-control" id="department" name="department" onchange="changejob()">
                                                    <option th:value="0" disabled="disabled" selected="selected">--请选择部门--</option>
                                                    <option th:each="de: ${departments}" th:value="${de.getDepartment_name()}" th:text="${de.getDepartment_name()}"></option>
                                                </select>
                                                <select style="width: 200px;display: inline-block" class="form-control" name="job" id="job">
                                                    <option th:value="0" disabled="disabled" selected="selected">--请选择职位--</option>
                                                </select>
                                            </div>
                                            <p style="display: none" id="help3" class="help-block col-sm-4 red">请选择部门或职位</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="phone" class="col-sm-2 control-label no-padding-right">手机号</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="phone" placeholder="" name="phone" required=""  type="text">
                                            </div>
                                            <p style="display: none" id="phone1" class="help-block col-sm-4 red">请填入正确的手机号</p>
                                        </div>

                                        <div class="form-group">
                                            <label for="time" class="col-sm-2 control-label no-padding-right">入职时间</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="time" placeholder="" name="time" required="" type="date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="address" class="col-sm-2 control-label no-padding-right">居住地址</label>
                                            <div class="col-sm-6">
                                                <input class="form-control" id="address" placeholder="" name="address" required="" type="text">
                                            </div>
                                            <p style="display: none" id="address1" class="help-block col-sm-4 red">请填入正确地址</p>
                                        </div>




                                        <div class="form-group">
                                            <div class="col-sm-offset-2 col-sm-10">
                                                <button type="submit"  class="btn btn-default">保存信息</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
<script src="/static/style/jquery_002.js" th:src="@{/style/jquery_002.js}"></script>
<script src="/static/style/bootstrap.js" th:src="@{/style/bootstrap.js}"></script>
<script src="/static/style/jquery.js" th:src="@{/style/jquery.js}"></script>
<!--Beyond Scripts-->
<script src="/static/style/beyond.js" th:src="@{/style/beyondthe.js}"></script>



</body></html>