<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>人力资源管理系统</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="/static/style/bootstrap.css" th:href="@{/style/bootstrap.css}" rel="stylesheet">
    <link href="/static/style/font-awesome.css" th:href="@{/style/font-awesome.css}" rel="stylesheet">
    <link href="/static/style/weather-icons.css" th:href="@{/style/weather-icons.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--Beyond styles-->
    <link id="beyond-link" href="/static/style/beyond.css" th:href="@{/style/beyondt.css}" rel="stylesheet" type="text/css">
    <link href="/static/style/demo.css" th:href="@{/style/demo.css}" rel="stylesheet">
    <link href="/static/style/typicons.css" th:href="@{/style/typicons.css}" rel="stylesheet">
    <link href="/static/style/animate.css" th:href="@{/style/animate.css}" rel="stylesheet">

    <script type="text/javascript" th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        function de1(){
            var tab=document.getElementById("tab");
            var trs = tab.rows;

            for(var i = 0, len = trs.length; i < len; i++){
                var cell = trs[i].cells[0];
                if(cell.style.display == 'none'){
                    cell.style.display = '';
                }else{
                    cell.style.display = 'none';
                }
            }
        }

        function se1() {
            var box = document.getElementById("checkId1");
            var box1= document.getElementsByName("checkId");
            for (var i = 0; i < box1.length; i++) {
                box1[i].checked = box.checked;
            }
        }

        function del1(){
            var num=document.getElementsByName("checkId");
            var k=0;
            for (var i=0;i<num.length;i++){
                if(num[i].checked==true){
                    k=k+1;
                }
            }

            if(k==0){
                alert("至少选择一项");
                return;
            }

            if(confirm("确定要删除吗？")){
                var checkList = [];
                for(j in num){
                    if(num[j].checked){
                        checkList.push(num[j].value);
                    }
                }
            }

            $.ajax({
                url:  basePath + '/salarydeleteAll',
                type:"post",
                data:{
                    checkList:checkList.toString()
                },
                datatype:"json",
                success:function (data) {
                    location.reload();
                    alert("删除成功！")
                },
                error:function (msg) {
                    alert("删除失败！")
                }
            })



        }
    </script>

</head>
<body>
<!-- 头部 -->
<div th:include="emp/top1 :: copy1"  ></div>
<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        <div th:include="emp/left1 :: cope1"  ></div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/system/list1}">系统</a>
                    </li>
                    <li class="active">工资列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <h2><span style="display: inline-block;vertical-align: top;"><a th:href="@{/salary/addbefore1}" class="btn btn-primary">工资添加</a></span>
                    <span style="display: inline-block;vertical-align: top;">
                    <form class="navbar-form navbar-left"  th:action="@{/salary/import1}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <input style="box-sizing: border-box;vertical-align: top; " class="form-control" type="file" id="file" name="file" />
                            <button type="submit" class="btn btn-primary">导入Excel</button>
                        </div>
                    </form>
                </span>
                </h2>

                <form class="navbar-form navbar-left" th:action="@{/salary/search1}" method="post">
                    <div class="form-group">
                        <label class="form-inline" />员工搜索：
                        <input style="box-sizing: border-box;vertical-align: top" name="search" th:id="search" type="text" class="form-control" placeholder="输入员工名称搜索">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>

                </form>


                <form class="navbar-form navbar-left" th:action="@{/salary/searchtime1}" method="post">
                    <div class="form-group">
                        <label class="form-inline" />工资年月：
                        <input style="box-sizing: border-box;vertical-align: top" required="required"  name="search1" type="month" class="form-control" >----
                        <input style="box-sizing: border-box;vertical-align: top" required="required"  name="search2" type="month" class="form-control" >
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>

                </form>

                <h2><a style="float: right" class="btn btn-primary" href="#" onclick="del1()">删除选中</a></h2>
                <h2><a style="float: right;margin-right: 10px;" class="btn btn-primary" href="#" id="deletebefore" onclick="de1()">批量删除</a></h2>
                <h2><a style="float: right;margin-right: 10px;" class="btn btn-primary" href="#" id="btn" >导出Excel</a></h2>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover" id="tab">
                                        <thead class="">
                                        <tr>
                                            <th style="display: none">
                                                <input type="checkbox" name="checkId1" id="checkId1" onclick="se1()" />
                                            </th>
                                            <th class="text-center">员工ID</th>
                                            <th class="text-center">工资年月</th>
                                            <th class="text-center">姓名</th>
                                            <th class="text-center">基础工资</th>
                                            <th class="text-center">考勤扣款</th>
                                            <th class="text-center">加班费用</th>
                                            <th class="text-center">实际工资</th>
                                            <th class="text-center" width="14%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="sars : ${sar.list} ">
                                            <td style="display: none">
                                                <input  type="checkbox" name="checkId" id="checkId" th:value="${sars.salary_id}" />
                                            </td>
                                            <td align="center" th:text="${sars.emp_id}" ></td>
                                            <td align="center" th:text="${sars.month}"></td>
                                            <td align="center" th:text="${sars.emp_name}"></td>
                                            <td align="center" th:text="${sars.salary}"></td>
                                            <td align="center" th:text="${sars.leave_salary}"></td>
                                            <td align="center" th:text="${sars.overtime_salary}"></td>
                                            <td align="center" th:text="${sars.resalary}"></td>
                                            <td align="center">
                                                <a  href="" th:href="@{/salary/editbefore1(salary_id=${sars.salary_id})}" class="btn btn-primary btn-sm shiny" >
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                <a href="#"  th:href="@{/salary/delete1(salary_id=${sars.salary_id})}"  id="delete" class="btn btn-danger btn-sm shiny" onClick="return confirm('确定删除?');">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer no-margin-top">
                                    <div class="col-md-6">
                                        当前第 [[${sar.pageNum}]]页,共 [[${sar.pages}]] 页.一共 [[${sar.total}]] 条记录
                                    </div>

                                    <ul class="pagination pull-right no-margin">
                                        <li th:if="${sar.hasPreviousPage}">
                                            <a th:href="@{/salary/search1(pageNum=1,search=${search})}">首页</a>
                                        </li>

                                        <li class="prev" th:if="${sar.hasPreviousPage}">
                                            <a th:href="@{/salary/search1(pageNum=${sar.prePage},search=${search})}">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <!--遍历条数-->
                                        <li th:each="nav:${sar.navigatepageNums}">
                                            <a th:href="@{/salary/search1(pageNum=${nav},search=${search})}" th:text="${nav}" th:if="${nav != sar.pageNum}"></a>
                                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == sar.pageNum}" th:text="${nav}" ></span>
                                        </li>

                                        <li class="next" th:if="${sar.hasNextPage}">
                                            <a th:href="@{/salary/search1(pageNum=${sar.nextPage},search=${search})}">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                        <li th:if="${sar.hasNextPage}">
                                            <a th:href="@{/salary/search1(pageNum=${sar.pages},search=${search})}">尾页</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
<script src="/static/style/jquery_002.js" th:src="@{/style/jquery_002.js}"></script>
<script src="/static/style/bootstrap.js" th:src="@{/style/bootstrap.js}"></script>
<script src="/static/style/jquery.js" th:src="@{/style/jquery.js}"></script>
<!--Beyond Scripts-->
<script src="/static/style/beyond.js" th:src="@{/style/beyondthe.js}"></script>
<script src="" th:src="@{/style/jquery.table2excel.js}"></script>

<script type="text/javascript" th:inline="javascript">
    $(function(){
        $("#btn").click(function(){
            $("#tab").table2excel({
                // 不被导出的表格行的CSS class类
                exclude: ".noExl",
                // 导出的Excel文档的名称，（没看到作用）
                name: "Excel Document Name",
                // Excel文件的名称
                filename: "工资列表"
            });
        });
    });

</script>


</body></html>