<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>人力资源管理系统</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="/static/style/bootstrap.css" th:href="@{/style/bootstrap.css}" rel="stylesheet">
    <link href="/static/style/font-awesome.css" th:href="@{/style/font-awesome.css}" rel="stylesheet">
    <link href="/static/style/weather-icons.css" th:href="@{/style/weather-icons.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--Beyond styles-->
    <link id="beyond-link" href="/static/style/beyond.css" th:href="@{/style/beyondt.css}" rel="stylesheet" type="text/css">
    <link href="/static/style/demo.css" th:href="@{/style/demo.css}" rel="stylesheet">
    <link href="/static/style/typicons.css" th:href="@{/style/typicons.css}" rel="stylesheet">
    <link href="/static/style/animate.css" th:href="@{/style/animate.css}" rel="stylesheet">
    <script type="text/javascript">
        function checkmoney() {
            var money1=document.getElementById("search1").value;
            var money2=document.getElementById("search2").value;
            if(!/^[0-9,.]*$/.test(money1)||!/^[0-9,.]*$/.test(money2))
            {
                alert("请填写正确薪资");
                return false;
            }
        }
    </script>

</head>
<body>
<!-- 头部 -->
<div th:include="top :: copy"  ></div>
<!-- /头部 -->

<div class="main-container container-fluid">
    <div class="page-container">
        <!-- Page Sidebar -->
        <div th:include="left :: cope"  ></div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div class="page-content">
            <!-- Page Breadcrumb -->
            <div class="page-breadcrumbs">
                <ul class="breadcrumb">
                    <li>
                        <a href="#" th:href="@{/system/list}">系统</a>
                    </li>
                    <li class="active">部门列表</li>
                </ul>
            </div>
            <!-- /Page Breadcrumb -->

            <!-- Page Body -->
            <div class="page-body">

                <h2><a th:href="@{/depart/addbefore}" class="btn btn-primary">部门添加</a></h2>
                <form class="navbar-form navbar-left" th:action="@{/depart/search(type=1)}" method="post">
                    <div class="form-group">
                        <label class="form-inline" />部门搜索：
                        <input style="box-sizing: border-box;vertical-align: top" name="search" th:id="search" type="text" class="form-control" placeholder="输入部门名称搜索">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>

                </form>


                <form class="navbar-form navbar-left" th:action="@{/depart/search(type=2)}" method="post">
                    <div class="form-group">
                        <label class="form-inline" />职位搜索：
                        <input style="box-sizing: border-box;vertical-align: top" id="search" name="search" type="text" class="form-control" placeholder="输入职位名称搜索">
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>

                </form>

                <form class="navbar-form navbar-left" onsubmit="return checkmoney()" th:action="@{/depart/searchmoney}" method="post">
                    <div class="form-group">
                        <label class="form-inline" />工资范围：
                        <input style="box-sizing: border-box;vertical-align: top" required="required" id="search1" placeholder="输入薪资搜索"  name="search1" type="text" class="form-control" >----
                        <input style="box-sizing: border-box;vertical-align: top" required="required" id="search2" placeholder="输入薪资搜索"  name="search2" type="text" class="form-control" >
                        <button type="submit" class="btn btn-primary">搜索</button>
                    </div>

                </form>
                <h2><a style="float: right;margin-right: 10px;" class="btn btn-primary" href="#" id="btn" >导出Excel</a></h2>
                <div class="row">
                    <div class="col-lg-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <div class="widget-body">
                                <div class="flip-scroll">
                                    <table class="table table-bordered table-hover" id="tab">
                                        <thead class="">
                                        <tr>
                                            <th class="text-center">部门名称</th>
                                            <th class="text-center">职位名称</th>
                                            <th class="text-center">职位工资</th>
                                            <th class="text-center" width="14%">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody>

                                        <tr th:each="departs : ${depart.list} ">
                                            <td align="center" th:text="${departs.department_name}"></td>
                                            <td align="center" th:text="${departs.job_name}"></td>
                                            <td align="center" th:text="${departs.job_money}"></td>
                                            <td align="center">
                                                <a  href="" th:href="@{/depart/editbefore(job_id=${departs.job_id})}" class="btn btn-primary btn-sm shiny">
                                                    <i class="fa fa-edit"></i> 编辑
                                                </a>
                                                <a href="#"   th:href="@{/depart/delete(job_id=${departs.job_id})}"  id="delect" class="btn btn-danger btn-sm shiny" onClick="return confirm('确定删除?');">
                                                    <i class="fa fa-trash-o"></i> 删除
                                                </a>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                                <div class="modal-footer no-margin-top">
                                    <div class="col-md-6">
                                        当前第 [[${depart.pageNum}]]页,共 [[${depart.pages}]] 页.一共 [[${depart.total}]] 条记录
                                    </div>

                                    <ul class="pagination pull-right no-margin">
                                        <li th:if="${depart.hasPreviousPage}">
                                            <a th:href="@{/depart/searchmoney(pageNum=1,search1=${search1},search2=${search2})}">首页</a>
                                        </li>

                                        <li class="prev" th:if="${depart.hasPreviousPage}">
                                            <a th:href="@{/depart/searchmoney(pageNum=${depart.prePage},search1=${search1},search2=${search2})}">
                                                <i class="ace-icon fa fa-angle-double-left"></i>
                                            </a>
                                        </li>
                                        <!--遍历条数-->
                                        <li th:each="nav:${depart.navigatepageNums}">
                                            <a th:href="@{/depart/searchmoney(pageNum=${nav},search1=${search1},search2=${search2})}" th:text="${nav}" th:if="${nav != depart.pageNum}"></a>
                                            <span style="font-weight: bold;background: #6faed9;" th:if="${nav == depart.pageNum}" th:text="${nav}" ></span>
                                        </li>

                                        <li class="next" th:if="${depart.hasNextPage}">
                                            <a th:href="@{/depart/searchmoney(pageNum=${depart.nextPage},search1=${search1},search2=${search2})}">
                                                <i class="ace-icon fa fa-angle-double-right"></i>
                                            </a>
                                        </li>

                                        <li th:if="${depart.hasNextPage}">
                                            <a th:href="@{/depart/searchmoney(pageNum=${depart.pages},search1=${search1},search2=${search2})}">尾页</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
    </div>
</div>

<!--Basic Scripts-->
<script src="/static/style/jquery_002.js" th:src="@{/style/jquery_002.js}"></script>
<script src="/static/style/bootstrap.js" th:src="@{/style/bootstrap.js}"></script>
<script src="/static/style/jquery.js" th:src="@{/style/jquery.js}"></script>
<!--Beyond Scripts-->
<script src="/static/style/beyond.js" th:src="@{/style/beyondthe.js}"></script>
<script src="" th:src="@{/style/jquery.table2excel.js}"></script>

<script type="text/javascript">
    $(function(){
        $("#btn").click(function(){
            $("#tab").table2excel({
                // 不被导出的表格行的CSS class类
                exclude: ".noExl",
                // 导出的Excel文档的名称，（没看到作用）
                name: "Excel Document Name",
                // Excel文件的名称
                filename: "部门列表"
            });
        });
    });

</script>


</body></html>