<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="utf-8">
    <title>人力资源管理系统</title>

    <meta name="description" content="Dashboard">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--Basic Styles-->
    <link href="/static/style/bootstrap.css" th:href="@{/style/bootstrap.css}" rel="stylesheet">
    <link href="/static/style/font-awesome.css" th:href="@{/style/font-awesome.css}" rel="stylesheet">
    <link href="/static/style/weather-icons.css" th:href="@{/style/weather-icons.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!--Beyond styles-->
    <link id="beyond-link" href="/static/style/beyond.css" th:href="@{/style/beyondt.css}" rel="stylesheet" type="text/css">
    <link href="/static/style/demo.css" th:href="@{/style/demo.css}" rel="stylesheet">
    <link href="/static/style/typicons.css" th:href="@{/style/typicons.css}" rel="stylesheet">
    <link href="/static/style/animate.css" th:href="@{/style/animate.css}" rel="stylesheet">

    <script type="text/javascript" th:inline="javascript">
        var basePath = [[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]];
        function chec() {
            var i=document.getElementById("role");
            var index=i.selectedIndex;
            var j=document.getElementById("help1");

            var username=document.getElementById("username").value;
            var admin_id=document.getElementById("admin_id").value;
            var tag=false;
            var help=document.getElementById("help");
            if(i.options[index].value==0){
                j.style.display='';
                help.style.display='none';
                return false;
            }else{
                j.style.display='none';
            }

            $.ajax({
                url:  basePath +'/admin/checkadminname1',
                type: "post",
                async:false,
                data: {"username":username,"admin_id":admin_id},
                datatype: "json",
                success:function(data){
                    if(data ==null || "" == data){
                        tag=true;
                    }
                },
                error:function (data) {
                    alert("出错了！");
                }
            })

            if(tag==false){
                j.style.display='none';
                help.style.display='';
                return false;
            }

            return  true;


        }

    </script>

</head>
<body>
	<!-- 头部 -->
    <div th:include="top :: copy"  ></div>

	<!-- /头部 -->
	
	<div class="main-container container-fluid">
		<div class="page-container">
			            <!-- Page Sidebar -->
            <div th:include="left :: cope"  ></div>
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">
                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                                        <li>
                        <a href="#" th:href="@{/system/list}">系统</a>
                    </li>
                                        <li>
                        <a href="" th:href="@{/admin/list}">用户列表</a>
                    </li>
                                        <li class="active">修改用户</li>
                                        </ul>
                </div>
                <!-- /Page Breadcrumb -->

                <!-- Page Body -->
                <div class="page-body">
                    
<div class="row">
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="widget">
            <div class="widget-header bordered-bottom bordered-blue">
                <span class="widget-caption">修改用户信息</span>
            </div>
            <div class="widget-body">
                <div id="horizontal-form">
                    <form class="form-horizontal" onsubmit="return chec()" role="form" action="" th:action="@{/admin/edit}" method="post">
                        <input class="hidden"id="admin_id" name="admin_id" th:value="${admin.admin_id}">
                        <div class="form-group">
                            <label for="username" class="col-sm-2 control-label no-padding-right">用户名称</label>
                            <div class="col-sm-6">
                                <input class="form-control" id="username" placeholder="" name="username" required="" th:value="${admin.admin_name}" type="text">
                            </div>
                            <p style="display: none" id="help" class="help-block col-sm-4 red">用户名已存在</p>
                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label no-padding-right">用户密码</label>
                            <div class="col-sm-6">
                                 <input class="form-control" id="password" placeholder="" name="password" required=""  th:value="${admin.password}" type="text">
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="password" class="col-sm-2 control-label no-padding-right">所属角色</label>
                            <div class="col-sm-6">
                                <select class="form-control" id="role" name="role">
                                    <option th:value="0" disabled="disabled" selected="selected">--请选择角色--</option>
                                    <option th:value="管理员">管理员</option>
                                    <option th:value="员工">员工</option>
                                </select>
                            </div>
                            <p style="display: none" id="help1" class="help-block col-sm-4 red">请选择角色</p>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">修改信息</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

                </div>
                <!-- /Page Body -->
            </div>
            <!-- /Page Content -->
		</div>	
	</div>

	    <!--Basic Scripts-->
    <script src="/static/style/jquery_002.js" th:src="@{/style/jquery_002.js}"></script>
    <script src="/static/style/bootstrap.js" th:src="@{/style/bootstrap.js}"></script>
    <script src="/static/style/jquery.js" th:src="@{/style/jquery.js}"></script>
    <!--Beyond Scripts-->
    <script src="/static/style/beyond.js" th:src="@{/style/beyondthe.js}"></script>
    


</body></html>